<h1>Better add to that creature list...</h1>
<form action="/prehistoric_creatures" method="POST">
    Type: <input type="text" name="type">
    ImageUrl: <input type="text" name="img_url">
    <input type="submit">
</form>