<h3>It's Dino Time!</h3>
<h4>Who's coming to the Dino party?</h4>
<ul>
    <% dinos.forEach((dino, index) => { %>
    <li>
        <a href="/dinos/<%= index %>"><strong><%= dino.name %></strong></a>
    </li>
    <% }) %>
</ul>